In [5]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('..\IPL dataset final.csv')

In [5]:
df.head()

,Player,COUNTRY,TEAM,AGE,CAPTAINCY EXP,Paying_Role,Mat,Inns,Runs,BF,...,B_TBalls,B_TRuns,B_TMaidens,B_TWkts,B_TAvg,B_TEcon,B_TSR,B_T4w,B_T5w,SOLD_PRICE
0,Ruturaj Gaikwad,IND,CSK,26,0,Batting,36,36.0,1207.0,926.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6cr
1,Shivam Dube,IND,CSK,29,0,All rounder,35,33.0,688.0,516.0,...,129.0,216.0,0.0,5.0,43.20,10.05,25.80,0.0,0.0,4cr
2,Ambati Rayudu,IND,CSK,37,0,Batting,188,175.0,4190.0,3296.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.75cr
3,Devon Conway,NZ,CSK,31,0,Batting,7,7.0,252.0,173.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1cr
4,Moeen Ali,ENG,CSK,35,0,All rounder,44,42.0,910.0,632.0,...,829.0,1145.0,1.0,42.0,27.26,8.29,19.74,0.0,0.0,8cr

In [6]:
df.columns

Index(['Player', 'COUNTRY', 'TEAM', 'AGE', 'CAPTAINCY EXP', 'Paying_Role',
       'Mat', 'Inns', 'Runs', 'BF', 'HS', 'Avg', 'SR', 'NO', '4s', '6s', '0s',
       '50s', '100s', 'TMat', 'TInns', 'TRuns', 'TBF', 'THS', 'TAvg', 'TSR',
       'TNO', 'T4s', 'T6s', 'T0s', 'T50s', 'T100s', 'B_Inns', 'B_Balls',
       'B_Runs', 'B_Maidens', 'B_Wkts', 'B_Avg', 'B_Econ', 'B_SR', 'B_4w',
       'B_5w', 'B_TInns', 'B_TBalls', 'B_TRuns', 'B_TMaidens', 'B_TWkts',
       'B_TAvg', 'B_TEcon', 'B_TSR', 'B_T4w', 'B_T5w', 'SOLD_PRICE'],
      dtype='object')

In [7]:
df = df.drop(columns=['CAPTAINCY EXP','Inns','BF','NO','TMat', 'TInns', 'TRuns', 'TBF', 'THS', 'TAvg', 'TSR',
       'TNO', 'T4s', 'T6s', 'T0s', 'T50s', 'T100s','B_Inns', 'B_Balls',
       'B_Runs','B_SR', 'B_4w','B_TInns', 'B_TBalls', 'B_TRuns', 'B_TMaidens', 'B_TWkts',
       'B_TAvg', 'B_TEcon', 'B_TSR', 'B_T4w', 'B_T5w', 'SOLD_PRICE'])

In [8]:
df.head()

,Player,COUNTRY,TEAM,AGE,Paying_Role,Mat,Runs,HS,Avg,SR,4s,6s,0s,50s,100s,B_Maidens,B_Wkts,B_Avg,B_Econ,B_5w
0,Ruturaj Gaikwad,IND,CSK,26,Batting,36,1207.0,101.0,37.72,130.35,113.0,43.0,4.0,10.0,1.0,NaN,NaN,NaN,NaN,NaN
1,Shivam Dube,IND,CSK,29,All rounder,35,688.0,95.0,24.57,133.33,46.0,38.0,1.0,3.0,0.0,0.0,4.0,41.50,9.40,0.0
2,Ambati Rayudu,IND,CSK,37,Batting,188,4190.0,100.0,28.9,127.12,349.0,164.0,14.0,22.0,1.0,NaN,NaN,NaN,NaN,NaN
3,Devon Conway,NZ,CSK,31,Batting,7,252.0,87.0,42,145.66,22.0,12.0,1.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Moeen Ali,ENG,CSK,35,All rounder,44,910.0,93.0,23.33,143.99,76.0,53.0,5.0,5.0,0.0,0.0,24.0,26.12,6.79,0.0

In [9]:
df.columns = ['Player','Country','Current IPL team','Age','Playing Role','Matches Played','Batting Total Runs','Batting Highest Score','Batting Average','Batting Strike Rate','Total 4s','Total 6s','Duckouts','50s in IPL','100s in IPl','Bowling maidens','Wickets Taken','Bowling Average','Bowling Economy','Number of 5 wicket hauls']

In [10]:
df.head()

,Player,Country,Current IPL team,Age,Playing Role,Matches Played,Batting Total Runs,Batting Highest Score,Batting Average,Batting Strike Rate,Total 4s,Total 6s,Duckouts,50s in IPL,100s in IPl,Bowling maidens,Wickets Taken,Bowling Average,Bowling Economy,Number of 5 wicket hauls
0,Ruturaj Gaikwad,IND,CSK,26,Batting,36,1207.0,101.0,37.72,130.35,113.0,43.0,4.0,10.0,1.0,NaN,NaN,NaN,NaN,NaN
1,Shivam Dube,IND,CSK,29,All rounder,35,688.0,95.0,24.57,133.33,46.0,38.0,1.0,3.0,0.0,0.0,4.0,41.50,9.40,0.0
2,Ambati Rayudu,IND,CSK,37,Batting,188,4190.0,100.0,28.9,127.12,349.0,164.0,14.0,22.0,1.0,NaN,NaN,NaN,NaN,NaN
3,Devon Conway,NZ,CSK,31,Batting,7,252.0,87.0,42,145.66,22.0,12.0,1.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Moeen Ali,ENG,CSK,35,All rounder,44,910.0,93.0,23.33,143.99,76.0,53.0,5.0,5.0,0.0,0.0,24.0,26.12,6.79,0.0

In [11]:
df.to_csv("modifiedipldata.csv")

In [6]:
df = pd.read_csv('.\modifiedipldata.csv')

In [7]:
import wikipedia

In [8]:
def get_wiki_summary(name, sentences=3):
    try:
        # search for the player
        results = wikipedia.search(name)
        if not results:
            return ""
        
        # choose first result (most common)
        page_title = results[0]
        
        # fetch summary
        summary = wikipedia.summary(page_title, sentences=sentences)
        return summary
    
    except wikipedia.exceptions.DisambiguationError:
        return ""
    except wikipedia.exceptions.PageError:
        return ""
    except Exception:
        return ""

In [9]:
df.head()

,Unnamed: 0,Player,Country,Current IPL team,Age,Playing Role,Matches Played,Batting Total Runs,Batting Highest Score,Batting Average,...,Total 4s,Total 6s,Duckouts,50s in IPL,100s in IPl,Bowling maidens,Wickets Taken,Bowling Average,Bowling Economy,Number of 5 wicket hauls
0,0,Ruturaj Gaikwad,IND,CSK,26,Batting,36,1207.0,101.0,37.72,...,113.0,43.0,4.0,10.0,1.0,NaN,NaN,NaN,NaN,NaN
1,1,Shivam Dube,IND,CSK,29,All rounder,35,688.0,95.0,24.57,...,46.0,38.0,1.0,3.0,0.0,0.0,4.0,41.50,9.40,0.0
2,2,Ambati Rayudu,IND,CSK,37,Batting,188,4190.0,100.0,28.9,...,349.0,164.0,14.0,22.0,1.0,NaN,NaN,NaN,NaN,NaN
3,3,Devon Conway,NZ,CSK,31,Batting,7,252.0,87.0,42,...,22.0,12.0,1.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN
4,4,Moeen Ali,ENG,CSK,35,All rounder,44,910.0,93.0,23.33,...,76.0,53.0,5.0,5.0,0.0,0.0,24.0,26.12,6.79,0.0

In [10]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [11]:
df.head()

,Player,Country,Current IPL team,Age,Playing Role,Matches Played,Batting Total Runs,Batting Highest Score,Batting Average,Batting Strike Rate,Total 4s,Total 6s,Duckouts,50s in IPL,100s in IPl,Bowling maidens,Wickets Taken,Bowling Average,Bowling Economy,Number of 5 wicket hauls
0,Ruturaj Gaikwad,IND,CSK,26,Batting,36,1207.0,101.0,37.72,130.35,113.0,43.0,4.0,10.0,1.0,NaN,NaN,NaN,NaN,NaN
1,Shivam Dube,IND,CSK,29,All rounder,35,688.0,95.0,24.57,133.33,46.0,38.0,1.0,3.0,0.0,0.0,4.0,41.50,9.40,0.0
2,Ambati Rayudu,IND,CSK,37,Batting,188,4190.0,100.0,28.9,127.12,349.0,164.0,14.0,22.0,1.0,NaN,NaN,NaN,NaN,NaN
3,Devon Conway,NZ,CSK,31,Batting,7,252.0,87.0,42,145.66,22.0,12.0,1.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Moeen Ali,ENG,CSK,35,All rounder,44,910.0,93.0,23.33,143.99,76.0,53.0,5.0,5.0,0.0,0.0,24.0,26.12,6.79,0.0

In [15]:
from tqdm import tqdm

In [16]:
summaries = []

for name in tqdm(df["Player"]):
    summaries.append(get_wiki_summary(name))

df["summary"] = summaries
df.head()

  6%|▌         | 11/182 [00:37<09:47,  3.43s/it]e:\gptiplrag\venv\Lib\site-packages\wikipedia\wikipedia.py:389: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("html.parser"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 389 of the file e:\gptiplrag\venv\Lib\site-packages\wikipedia\wikipedia.py. To get rid of this warning, pass the additional argument 'features="html.parser"' to the BeautifulSoup constructor.

  lis = BeautifulSoup(html).find_all('li')
100%|██████████| 182/182 [10:13<00:00,  3.37s/it]

,Player,Country,Current IPL team,Age,Playing Role,Matches Played,Batting Total Runs,Batting Highest Score,Batting Average,Batting Strike Rate,...,Total 6s,Duckouts,50s in IPL,100s in IPl,Bowling maidens,Wickets Taken,Bowling Average,Bowling Economy,Number of 5 wicket hauls,summary
0,Ruturaj Gaikwad,IND,CSK,26,Batting,36,1207.0,101.0,37.72,130.35,...,43.0,4.0,10.0,1.0,NaN,NaN,NaN,NaN,NaN,Ruturaj Dashrat Gaikwad (born 31 January 1997)...
1,Shivam Dube,IND,CSK,29,All rounder,35,688.0,95.0,24.57,133.33,...,38.0,1.0,3.0,0.0,0.0,4.0,41.50,9.40,0.0,Shivam Dube (born 25 June 1993) is an Indian i...
2,Ambati Rayudu,IND,CSK,37,Batting,188,4190.0,100.0,28.9,127.12,...,164.0,14.0,22.0,1.0,NaN,NaN,NaN,NaN,NaN,Ambati Thirupathi Rayudu (born 23 September 19...
3,Devon Conway,NZ,CSK,31,Batting,7,252.0,87.0,42,145.66,...,12.0,1.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN,Devon Philip Conway (born 8 July 1991) is a Ne...
4,Moeen Ali,ENG,CSK,35,All rounder,44,910.0,93.0,23.33,143.99,...,53.0,5.0,5.0,0.0,0.0,24.0,26.12,6.79,0.0,

In [27]:
df.to_csv("ipl_with_summary.csv", index=False)

In [28]:
df.head(20)

,Player,Country,Current IPL team,Age,Playing Role,Matches Played,Batting Total Runs,Batting Highest Score,Batting Average,Batting Strike Rate,...,Total 6s,Duckouts,50s in IPL,100s in IPl,Bowling maidens,Wickets Taken,Bowling Average,Bowling Economy,Number of 5 wicket hauls,summary
0,Ruturaj Gaikwad,IND,CSK,26,Batting,36,1207.0,101.0,37.72,130.35,...,43.0,4.0,10.0,1.0,NaN,NaN,NaN,NaN,NaN,Ruturaj Dashrat Gaikwad (born 31 January 1997)...
1,Shivam Dube,IND,CSK,29,All rounder,35,688.0,95.0,24.57,133.33,...,38.0,1.0,3.0,0.0,0.0,4.0,41.50,9.40,0.0,Shivam Dube (born 25 June 1993) is an Indian i...
2,Ambati Rayudu,IND,CSK,37,Batting,188,4190.0,100.0,28.9,127.12,...,164.0,14.0,22.0,1.0,NaN,NaN,NaN,NaN,NaN,Ambati Thirupathi Rayudu (born 23 September 19...
3,Devon Conway,NZ,CSK,31,Batting,7,252.0,87.0,42,145.66,...,12.0,1.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN,Devon Philip Conway (born 8 July 1991) is a Ne...
4,Moeen Ali,ENG,CSK,35,All rounder,44,910.0,93.0,23.33,143.99,...,53.0,5.0,5.0,0.0,0.0,24.0,26.12,6.79,0.0,
5,MS Dhoni,IND,CSK,41,Batting,234,4978.0,84.0,39.2,135.20,...,229.0,4.0,24.0,0.0,NaN,NaN,NaN,NaN,NaN,
6,Ravindra Jadeja,IND,CSK,34,All rounder,210,2502.0,62.0,26.62,127.65,...,90.0,8.0,2.0,0.0,2.0,132.0,30.79,7.61,1.0,Ravindrasinh Anirudhsinh Jadeja (born 6 Decemb...
7,Dwaine Pretorius,SA,CSK,33,All rounder,6,44.0,22.0,11,157.14,...,3.0,1.0,0.0,0.0,0.0,6.0,35.00,10.00,0.0,Dwaine Pretorius (born 29 March 1989) is a for...
8,Jagadeesan Narayan,IND,CSK,27,Batting,7,73.0,39.0,24.33,110.61,...,1.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,"Narayan Jagadeesan (born 24 December 1995), co..."
9,Dwayne Bravo,WI,CSK,39,All rounder,161,1560.0,70.0,22.61,129.57,...,66.0,5.0,5.0,0.0,3.0,183.0,23.83,8.39,0.0,Dwayne John Bravo (born 7 October 1983) is a T...
10,Mitchell Santner,NZ,CSK,31,All rounder,12,54.0,22.0,18,108.00,...,3.0,0.0,0.0,0.0,0.0,10.0,27.70,6.92,0.0,Mitchell Josef Santner (born 5 February 1992) ...
11,Chris Jordan,ENG,CSK,34,All rounder,28,75.0,30.0,9.38,115.38,...,3.0,1.0,0.0,0.0,0.0,27.0,30.85,9.32,0.0,
12,Maheesh Theekshana,SL,CSK,22,Bowling,9,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,12.0,21.75,7.45,0.0,Morawakage Maheesh Theekshana (born 1 August 2...
13,Simarjeet Singh,IND,CSK,25,Bowling,6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,4.0,34.50,7.66,0.0,Simarjeet Singh (born 17 January 1998) is an I...
14,Mukesh Choudhary,IND,CSK,26,Bowling,13,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,16.0,26.50,9.31,0.0,Mukesh Choudhary (born 6 July 1996) is an Indi...
15,Prashant Solanki,IND,CSK,23,Bowling,2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,2.0,19.00,6.33,0.0,Prashant Solanki (born 22 February 2000) is an...
16,Matheesha Pathirana,SL,CSK,20,Bowling,2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,2.0,26.00,7.60,0.0,Heenatigala Pathiranage Matheesha Anushal Viha...
17,Tushar Deshpande,IND,CSK,27,Bowling,7,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,4.0,63.75,10.62,0.0,Tushar Deshpande (born 15 May 1995) is an Indi...
18,David Warner,AUS,DC,36,Batting,162,5881.0,126.0,42.01,140.69,...,215.0,9.0,55.0,4.0,NaN,NaN,NaN,NaN,NaN,David Hattersley Warner (29 July 1941 – 24 Jul...
19,Rishabh Pant,IND,DC,25,Batting,98,2338.0,128.0,34.61,147.97,...,129.0,4.0,15.0,1.0,NaN,NaN,NaN,NaN,NaN,Rishabh Rajendra Pant (Hindi: [ɾɪˈʂʌbʰ ɾaː'dʒe...

In [ ]:
df[df["Player"] == "Virat Kohli"]["summary"].values[0]

'Virat Kohli (Hindi pronunciation: [ʋɪˈɾaːʈᵊ ˈkoːɦᵊliː] , born 5 November 1988) is an Indian international cricketer and the former captain of the Indian national cricket team. He is a right-handed batsman and an occasional medium-pace bowler. He currently represents Royal Challengers Bengaluru in the IPL and Delhi in domestic cricket.'